footer {
  padding: 20px;
  text-align: center;

  hr {
    border-width: 2px 0px 0px 0px;
    border-style: solid; 
    border-color: rgb(216, 216, 216);
    height: 1px; 
    margin: 10px 0;
  }
  
}

.footer-text {
  font-size: 15px;
}

